<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Добавление атлета</title>
        <link rel="stylesheet" href="mainstyles.css">
    </head>
    <body>
        <div>
            <div>
                <form method="post">
                    Имя <br>
                    <input type="text" name="name">
                    <br>
                    Фамилия <br>
                    <input type="text" name="surname">
                    <br>
                    Дата рождения <br>
                    <input type="date" name="birth">
                    <br>
                    Собственный вес <br>
                    <input type="number" name="weight" min="0" max="250" step="0.01">
                    <br>
                    Спортивный клуб <br>
                    <input type="text" name="country">
                    <br><br>
                    <input type="submit" value="Добавить">
                </form>
            </div>
        </div>
    </body>
</html>