<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Успешно</title>
        <link rel="stylesheet" href="mainstyles.css">
    </head>
    <body>
        <div>
            <p>Атлет успешно добавлен!</p><br>
            <form action="http://127.0.0.1:8080/add">
                <button>Добавить ещё атлета</button>
            </form>
            <br>
            <form action="http://127.0.0.1:8080/">
                <button>Главное меню</button>
            </form>
        </div>
    </body>
</html>