<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Таблица</title>
        <link rel="stylesheet" type="text/css" href="tablestyles.css">
    </head>
    <body>
        <div>
            <table>
                <caption><h1>{{.Caption}}</h1></caption>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Дата рождения</th>
                    <th>Вес</th>
                    <th>Клуб</th>
                </tr>
                {{range .Table}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Surname}}</td>
                    <td>{{.Birth}}</td>
                    <td>{{.Weight}}</td>
                    <td>{{.SportClub}}</td>
                </tr>
                {{end}}
            </table>
        </div>
    </body>
</html>