<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Не найден</title>
    <link rel="stylesheet" href="mainstyles.css">
</head>
<body>
    <div>
        <p style="font-size:120%; text-align:left; padding: 0px 100px;">К сожалению, атлет не найден. Возможно, вы ввели
            некорректную фамилию или не ввели её вообще. Попробуйте снова</p><br>
        <form action="http://127.0.0.1:8080/">
            <button>Главное меню</button>
        </form>
    </div>
</body>
</html>