<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="mainstyles.css">
    </head>
    <body>
        <div>
            <form action="http://127.0.0.1:8080/athlete" target="_blank">
                <button>Все атлеты</button>
            </form>
            <br>
            <form action="http://127.0.0.1:8080/finding" target="_blank">
                <button>Поиск по фамилии</button>
            </form>
            <br>
            <form action="http://127.0.0.1:8080/add" target="_blank">
                <button>Добавить атлета</button>
            </form>
            <br>
            <form action="http://127.0.0.1:8080/update" target="_blank">
                <button>Обновить атлета</button>
            </form>
            <br>
            <form action="http://127.0.0.1:8080/add" target="_blank">
                <button>Удалить атлета</button>
            </form>
        </div>
    </body>
</html>