<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
    <link rel="stylesheet" href="mainstyles.css">
</head>
<body>
    <div>
        <div>
            <form method="post">
                {{range .Table}}
                № <br>
                <input type="text" name="id" readonly value="{{.Id}}">
                <br>
                Имя <br>
                <input type="text" name="name" value="{{.Name}}">
                <br>
                Фамилия <br>
                <input type="text" name="surname" value="{{.Surname}}">
                <br>
                Собственный вес <br>
                <input type="number" name="weight" min="0" max="250" step="0.01" value="{{.Weight}}">
                <br>
                Спортивный клуб <br>
                <input type="text" name="sportclub" value="{{.SportClub}}">
                {{end}}
                <br>
                Дата рождения <br>
                <input type="date" name="birth" value="{{.Caption}}">
                <br><br>
                <input type="submit" name="upd" value="Сохранить">
            </form>
        </div>
    </div>
</body>
</body>
</html>